{% load static %}

<header class="header">
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark">
        <!-- Задаем логотип -->
        <a class="navbar-brand" href="{% url 'root' %}">
            <div>
                <img src="{% static 'img/site_logo.png' %}" width="180" height="80" alt="Ask⊻Boom" />
            </div>
        </a>
        <!-- Кнопка для узких экранов -->
        <button class="navbar-toggler" type="button" data-toggle="navbar-collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <!-- Меню начнем с поиска - на узком экране логотип все равно будет -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="search" placeholder="Поиск...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </li>
            </ul>
            <!-- Блок информации о юзере -->
            <ul class="navbar-nav">

                {% if user.is_authenticated %}

                <div class="btn-group show-on-hover">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                      <span class="text-navbar">Добро пожаловать, {{ user.userprofile.nickname }}</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'settings' %}">Настройки</a></li>
                        <li><a href="{% url 'logout' %}">Выход</a></li>
                    </ul>
                </div>

                <img id="user-pic" src='{{ user.userprofile.profile_pic.url }}' alt="Аватар" /> {% else %}
                <a class="pr-2" href="{% url 'login' %}">Войти</a>
                <a href="{% url 'register' %}">Зарегистрироваться</a> {% endif %}

            </ul>

        </div>
    </nav>


</header>