{% extends 'include/base.html' %} {% load static %} {% block content %}


<div class="col-8">
    <h3>Задать вопрос</h3>
    <div class="container bg-light shadow-sm mb-3">
        <form method="post" id="create-form" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group row p-3">
                <label for="{{ form.title.id_for_label }}" class="col-sm-3 col-form-label">Заголовок вопроса</label>
                <div class="col-sm-9">
                    {{ form.title }}
                    <div class="invalid-feedback">
                        Заполните это поле
                    </div>
                </div>
            </div>

            <div class="form-group row p-3">
                <label for="{{ form.description.id_for_label }}" class="col-sm-3 col-form-label">Текст вопроса</label>
                <div class="col-sm-9">
                    {{ form.description }}
                    <div class="invalid-feedback">
                        Заполните это поле
                    </div>
                </div>
            </div>

            <div class="form-group row p-3">
                <label for="{{ form.tags.id_for_label }}" class="col-sm-3 col-form-label">Теги</label>
                <div class="col-sm-9">
                    {{ form.tags }}
                    <div class="invalid-feedback">
                        Заполните это поле
                    </div>
                </div>
            </div>

            {% include 'include/form_errors.html' %}

            <button id="send" class="btn btn-danger" type="submit">Отправить</button>
        </form>
    </div>
</div>

{% endblock content %} {% block script %}
<script src="{% static 'js/validate.js' %}"></script> {% endblock script %}