{% extends 'include/floating_login.html' %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css"> {% endblock css %} {% block content %}

<form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="d-flex justify-content-center h-100">
        <div class="user-card-register bg-dark">
            <div class="d-flex justify-content-center">
                <div class="brand_logo_container">
                    <a href="{% url 'root' %}"><img src="{% static 'img/site_logo.png' %}" width="180" height="80" alt="Ask⊻Boom" /></a>
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span for="{{ form.username.id_for_label }}" class="input-group-text"><i class="fas fa-user-circle"></i></span>
                </div>
                {{ form.username }}
                <div class="invalid-feedback">
                    Пожалуйста, введите логин.
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span for="{{ form.email.id_for_label }}" class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                {{ form.email }}
                <div class="invalid-feedback">
                    Пожалуйста, введите почтовый адрес.
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span for="{{ form.nickname.id_for_label }}" class="input-group-text"><i class="fas fa-tag"></i></span>
                </div>
                {{ form.nickname }}
                <div class="invalid-feedback">
                    Пожалуйста, введите никнейм.
                </div>
            </div>


            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span for="{{ form.password.id_for_label }}" class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{ form.password }}
                <div class="invalid-feedback">
                    Пожалуйста, введите пароль.
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span for="{{ form.confirm_password.id_for_label }}" class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                {{ form.confirm_password }}
                <div class="invalid-feedback">
                    Пожалуйста, введите пароль еще раз.
                </div>
            </div>

            <div class="input-group mb-2">
                <div class="input-group-append">
                    {{ form.profile_pic }}
                    <label for="{{ form.profile_pic.id_for_label }} class=" input-group-text custom-file-label " for="user-avatar ">Выберите аватар</label>
                    <div class="invalid-feedback ">
                        Пожалуйста, выберите аватар.
                    </div>
                </div>
            </div>

            {% include 'include/form_errors.html' %}

            <div class="d-flex justify-content-center mt-2 login_container ">
                <button type="submit " class="btn btn-danger ">Зарегистрироваться</button>
            </div>

            <div class="d-flex justify-content-center mt-2 ">
                Уже есть аккаунт?
            </div>

            <div class="d-flex justify-content-center mt-2 register_container ">
                <a class="button " href="{% url 'login' %} ">Войти</a>
            </div>
        </div>
    </div>
</form>
{% endblock content %} {% block script %}
<script src="{% static 'js/validate.js' %} "></script> {% endblock script %}